@font-face {
  font-family: 'DNB-Regular-20191103';
  src: url('https://raw.githubusercontent.com/tujoworker/dnb-font-regular/main/fonts/DNB-Regular-20191103.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'DNB-Regular-20200131';
  src: url('https://raw.githubusercontent.com/tujoworker/dnb-font-regular/main/fonts/DNB-Regular-20200131.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'DNB-Medium-20191103';
  src: url('https://raw.githubusercontent.com/tujoworker/dnb-font-regular/main/fonts/DNB-Medium-20191103.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'DNB-Medium-20200131';
  src: url('https://raw.githubusercontent.com/tujoworker/dnb-font-regular/main/fonts/DNB-Medium-20200131.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'DNB-Bold-20191103';
  src: url('https://raw.githubusercontent.com/tujoworker/dnb-font-regular/main/fonts/DNB-Bold-20191103.woff2')
    format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'DNB-Bold-20200131';
  src: url('https://raw.githubusercontent.com/tujoworker/dnb-font-regular/main/fonts/DNB-Bold-20200131.woff2')
    format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

body {
  margin: 0;
  padding: 0;

  font-size: 1.125rem; /* 18px */
  line-height: 1.5rem; /* 24px */

  /* text-rendering: geometricPrecision; */
}

.column {
  display: flex;
  flex-direction: row;
}

.antialiased {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
}

.antialiased,
.subpixel-rendering {
  padding: 2rem;
  min-width: 16rem;
}

.dark .antialiased,
.dark .subpixel-rendering {
  color: white;
  background-color: #00343e;
  /* background-color: #333; */
}

h2 {
  color: #ddd;
}
.dark h2 {
  color: #999;
}

.use-DNB-Regular-20191103 {
  font-family: 'DNB-Regular-20191103';
}
.use-DNB-Regular-20200131 {
  font-family: 'DNB-Regular-20200131';
}

.use-DNB-Medium-20191103 {
  font-family: 'DNB-Medium-20191103';
}
.use-DNB-Medium-20200131 {
  font-family: 'DNB-Medium-20200131';
}

.use-DNB-Bold-20191103 {
  font-family: 'DNB-Bold-20191103';
}
.use-DNB-Bold-20200131 {
  font-family: 'DNB-Bold-20200131';
}
